
<div id="TTBenhNhan">
    <form id="formTTHC" class="p-2 rounded mb-1">
        <input type="hidden" name="Id" value="0">
        <div class="row">
            <div class="col-lg-2 col-12">
                <label class="form-label mb-1 mt-2 required">Mã BN</label>
                <input type="text" autocomplete="off" class="form-control" name="MaBn" placeholder="Auto" required readonly>
            </div>
            <div class="col-lg-4 col-12">
                <label class="form-label mb-1 mt-2 required">Tên bệnh nhân</label>
                <input type="text" autocomplete="off" class="form-control" name="TenBn" placeholder="Tên bệnh nhân" required>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Ngày sinh</label>
                <input type="text" autocomplete="off" class="form-control input-date-long-mask" name="NgaySinh" placeholder="Ngày Sinh">
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2 required">Năm sinh</label>
                <input type="text" autocomplete="off" class="form-control" name="NamSinh" placeholder="Năm sinh" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-12">
                <label class="form-label mb-1 mt-2 required">Giới tính</label>
                <select class="form-select" name="Idgt" required>
                    @foreach (DmGioiTinh gt in ViewBag.GioiTinhs)
                    {
                        <option value="@gt.Id">@gt.TenGioiTinh</option>
                    }
                </select>
            </div>
            <div class="col-lg-10 col-12">
                <label class="form-label mb-1 mt-2 required">Địa chỉ</label>
                <input type="text" autocomplete="off" class="form-control " name="DiaChi" placeholder="Địa chỉ" required>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Quốc tịch</label>
                <select class="form-select cbQuocGia" name="Idqg">
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Tỉnh/TP</label>
                <select class="form-select cbTinhCuTru" name="Idtinh">
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Quận, huyện</label>
                <select class="form-select cbQuanCuTru" name="Idquan">
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Phường, xã</label>
                <select class="form-select cbXaCuTru" name="Idpx">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2 required">Số ĐT</label>
                <input type="text" autocomplete="off" class="form-control" name="DienThoai" placeholder="Số điện thoại" required>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Email</label>
                <input autocomplete="off" type="email" class="form-control" name="Email" placeholder="Email">
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2" required>Dân tộc</label>
                <select class="form-select cbDanToc" name="Iddt" required>
                </select>
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Nghề nghiệp</label>
                <select class="form-select cbNgheNghiep" name="Idnn">
                </select>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">CCCD</label>
                <input type="text" autocomplete="off" class="form-control" name="SoCccd" placeholder="CCCD">
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Ngày cấp</label>
                <input type="text" autocomplete="off" class="form-control input-date" name="NgayCap" placeholder="Ngày cấp CCCD">
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Nơi cấp</label>
                <input type="text" autocomplete="off" class="form-control" name="NoiCap" placeholder="Nơi cấp">
            </div>
            <div class="col-lg-3 col-12">
                <label class="form-label mb-1 mt-2">Ngày lưu hồ sơ</label>
                <input type="text" autocomplete="off" class="form-control input-date-default" name="NgayDen" placeholder="Ngày đến">
            </div>
        </div>
        <div class="row">
            <div class="mb-2 col-lg-12 col-12">
                <label class="form-label mb-1 mt-2">Ghi chú</label>
                <textarea type="text" rows="3" style="max-height:150px" autocomplete="off" class="form-control" name="GhiChu" placeholder="Ghi chú"></textarea>
            </div>
        </div>
    </form>
</div>

