@model DmQuocGium

<div>
    <input type="hidden" asp-for="@Model.Id">
    <div class="row row-cards">
        <div class="col-sm-4 col-md-4 pr-0 mt-2">
            <div class="mb-2">
                <label for="txtMaQuocGia" class="col-form-label required">Mã quốc gia</label>
                <input required type="text" asp-for="@Model.MaQuocGia" id="txtMaQuocGia" class="form-control" placeholder="Nhập mã quốc gia">
                <div class="invalid-feedback">
                    Nhập mã quốc gia
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 pr-0 mt-2">
            <div class="mb-2">
                <label for="txtTenQuocGia" class="col-form-label required">Tên quốc gia</label>
                <input required type="text" asp-for="@Model.TenQuocGia" id="txtTenQuocGia" class="form-control" placeholder="Nhập tên quốc gia">
                <div class="invalid-feedback">
                    Nhập tên quốc gia
                </div>
            </div>
        </div>
    </div>
</div>
<div b-27zrlt93sg="" class="d-flex justify-content-between border-top border-dark pt-4 mt-2">
    <button b-27zrlt93sg="" type="button" class="btn me-auto" data-bs-dismiss="modal">Đóng</button>
    <button b-27zrlt93sg="" type="submit" class="btn btn-primary" id="btnModal">Lưu</button>
</div>