
<div class="page-body mb-1">
    <div class="card">
        <div class="position-absolute top-0 w-100 h-100 left-0 modal-blur fade " id="Pageloader" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: -1;">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="container container-slim py-4">
                        <div class="text-center">
                            <div class="mb-3">
                                <span class="navbar-brand navbar-brand-autodark"><img src="./static/logo-small.svg" height="36" alt=""></span>
                            </div>
                            <div class="text-dark mb-3 fw-bolder fs-2">Đang tải...</div>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill" id="myTab" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tabs-DanhSach" id="tabsdanhsach" class="nav-link text-dark active" data-bs-toggle="tab" aria-selected="true" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" /><path d="M18 14v4h4" /><path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" /><path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M8 11h4" /><path d="M8 15h3" /></svg>
                        Báo cáo tồn kho
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-KhamBenh" class="nav-link text-dark" id="tabsKhamBenh" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
                        Báo cáo doanh thu
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body p-2">
            <div class="tab-content">

                <div class="tab-pane active show" id="tabs-DanhSach" role="tabpanel">
                    <div class="card mb-2">
                        <div class="card-status-top bg-blue"></div>
                        <div class="card-header p-1">
                            <div class="container px-0">
                                <form class="row" id="formBaoCaoTon">
                                    <div class="col-12 mb-1 mt-2">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-4 col-lg-4">
                                                        Từ ngày:
                                                    </label>
                                                    <div class="col-lg-8 col-8">
                                                        <input required type="text" autocomplete="off" class="form-control input-date-default" name="TuNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-lg-4 col-4">
                                                        Đến ngày:
                                                    </label>
                                                    <div class="col-8 col-lg-8">
                                                        <input required type="text" autocomplete="off" class="form-control input-date-default" name="DenNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-lg-2 col-4">
                                                        Nơi cung cấp:
                                                    </label>
                                                    <div class="col-8 col-lg-10">
                                                        <select class="form-select cbNhaCungCap" name="IdNhaCungCap">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md-1 mt-2">
                                        <div class="row mb-1">
                                            <div class="col-12 col-lg-6 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-2 col-lg-2">
                                                        Hàng hóa:
                                                    </label>
                                                    <div class="col-10 col-lg-10">
                                                        <select class="form-select cbHangHoa" name="IdHangHoa">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-1 mb-1">
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <button class="btn btn-icon" type="submit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="card">
                                <div class="table-responsive vh-lg-53">
                                    <table id="tableBaoCaoChiTiet" class="table text-nowrap table-bordered table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center ">#</th>
                                                <th class="text-center ">Ngày</th>
                                                <th class="text-center ">Số phiếu</th>
                                                <th class="text-center ">Mã cung cấp</th>
                                                <th class="text-center ">Tên nơi cung cấp</th>
                                                <th class="text-center ">Số HĐ</th>
                                                <th class="text-center ">Ngày HĐ</th>
                                                <th class="text-center ">Mã vaccine</th>
                                                <th class="text-center ">Tên vaccine</th>
                                                <th class="text-center ">SL nhập</th>
                                                <th class="text-center ">ĐVT</th>
                                                <th class="text-center ">Giá nhập</th>
                                                <th class="text-center ">Thành tiền</th>
                                                <th class="text-center ">SL tồn</th>
                                                <th class="text-center ">Trị giá tồn</th>
                                                <th class="text-center ">Hạn dùng</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBody-BaoCaoTon">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-2">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <button id="btnInPDFBaoCao" class="btn btn-primary bg-green-lt" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
                                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
                                            <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path>
                                        </svg>
                                        Xuất PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tabs-KhamBenh" role="tabpanel">
                    <div class="card mb-2">
                        <div class="card-status-top bg-blue"></div>
                        <div class="card-header p-1">
                            <div class="container px-0">
                                <form class="row" id="formBaoCaoLoiNhuan">
                                    <div class="col-12 mb-1 mt-2">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-4 col-lg-4">
                                                        Từ ngày:
                                                    </label>
                                                    <div class="col-lg-8 col-8">
                                                        <input required type="text" autocomplete="off" class="form-control input-date-default" name="TuNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-lg-4 col-4">
                                                        Đến ngày:
                                                    </label>
                                                    <div class="col-8 col-lg-8">
                                                        <input required type="text" autocomplete="off" class="form-control input-date-default" name="DenNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-1 mb-1">
                                                <div class="row justify-content-center">
                                                    <div class="col-auto">
                                                        <button class="btn btn-icon" type="submit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="card">
                                <div class="table-responsive vh-lg-53">
                                    <table id="tableBaoCaoChiTiet" class="table text-nowrap table-bordered table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center ">TT</th>
                                                <th class="text-center ">Ngày thu</th>
                                                <th class="text-center ">Mã bệnh nhân</th>
                                                <th class="text-center ">Tên bệnh nhân</th>
                                                <th class="text-center ">Tên vaccine</th>
                                                <th class="text-center ">Giá nhập</th>
                                                <th class="text-center ">Giá bán</th>
                                                <th class="text-center ">Lợi nhuận</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBody-BaoCaoLoiNhuan">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-2">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <button id="btnInPDFBaoCaoLoiNhuan" class="btn btn-primary bg-green-lt" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
                                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
                                            <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path>
                                        </svg>
                                        Xuất PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/baocaoton.js" defer asp-append-version="true"></script>