<div class="">
<div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill p-0" id="myTab" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tabs-lapPhieu" id="tab-lapphieu" class="nav-link text-dark active" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        Lập phiếu nhập
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-dsPhieu" class="nav-link text-dark" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        Lịch sử phiếu nhập
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body p-2">
            <div class="tab-content">
                <div class="tab-pane active show" id="tabs-lapPhieu" role="tabpanel">
                    <div class="card mb-2">
                        <div class="card-status-top bg-blue"></div>

                        <div class="card-body p-2">
                            <input type="hidden" value="0" id="Id">
                            <div class="row">
                                <div class="col-12">
                                    <form class="row" id="formThemPhieuNhapKho">
                                            <div class="row col-12">
                                        <div class="col-lg-3 col-12 mb-2">
                                            <div class="row">
                                                <label class="col-form-label required mb-0 col-3 col-lg-3">Số phiếu:</label>
                                                <div class="col-9 col-lg-9">
                                                    <input type="text" autocomplete="off" id="SoPhieu" class="form-control bg-indigo-lt" placeholder="Auto" required readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12 mb-2">
                                            <div class="row">
                                                <label class="col-form-label mb-0 col-2">Nơi cung cấp:</label>
                                                <div class="col-10">
                                                    <select class="form-select cbNhaCungCap" required id="IdnhaCungCap">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12 mb-2">
                                            <div class="row">
                                                <label class="col-form-label mb-0 col-3">Ngày nhập:</label>
                                                <div class="col-9">
                                                    <input autocomplete="off" id="NgayGioNhap" type="text" class="form-control input-date-time-default" required>
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                            <div class="row col-12">
                                            <div class="col-lg-3 col-12 mb-1 mt-2">
                                            <div class="row">
                                                <label class="col-form-label mb-0 col-3">Số HĐ:</label>
                                                <div class="col-9">
                                                    <input type="text" autocomplete="off" class="form-control" placeholder="Số hóa đơn" id="SoHoaDon">
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-3 col-12 mb-1 mt-2">
                                            <div class="row">
                                                <label class="col-form-label mb-0 col-3 col-lg-4">Ngày lập HĐ:</label>
                                                <div class="col-9 col-lg-8">
                                                    <input type="text" autocomplete="off" class="form-control input-date-default" id="NgayHoaDon">
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-6 col-12 mb-1 mt-2">
                                            <div class="row">
                                                <label class="col-form-label mb-0 col-2 col-lg-2">Ghi chú:</label>
                                                <div class="col-10 col-lg-10">
                                                    <textarea class="form-control" rows="1" id="GhiChuPhieuNhap"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                    </form>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div id="table-nhapkho" class="table-responsive vh-lg-47">
                                            <table class="table table-bordered table-vcenter table-input" id="tableTaoChiTietPhieuNhap">
                                                <thead>
                                                    <tr class="text-wrap">
                                                        <th class="text-center p-1 first-th-column text-wrap" style="min-width:32px;">TT</th>
                                                        <th class="text-center p-1 w-25 text-wrap">
                                                            <div class="row justify-content-center">
                                                                    Tên hàng hoá
                                                            </div>
                                                        </th>
                                                        <th class="text-center p-1 text-wrap">SL nhập</th>
                                                        <th class="text-center p-1 text-wrap">ĐVT</th>
                                                        <th class="text-center p-1 text-wrap">Giá nhập</th>
                                                        <th class="text-center p-1 text-wrap">Thành tiền</th>
                                                        <th class="text-center p-1 text-wrap">Ngày SX</th>
                                                        <th class="text-center p-1 text-wrap">Hạn SD</th>
                                                        <th class="text-center p-1 text-wrap">Ghi Chú</th>
                                                        <th class="text-center last-th-column p-1">
                                                            <a class="text-red" id="remove-all-phieuNhapCt">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <path d="M4 7l16 0"></path>
                                                                    <path d="M10 11l0 6"></path>
                                                                    <path d="M14 11l0 6"></path>
                                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                                </svg>
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBody-ThemChiTietPhieuNhap">
                                                    <tr>
                                                        <td class="first-td-column text-center ps-0 td-sticky" style="width:32px;z-index:2;">
                                                            <input autocomplete="off" type="text" class="form-control form-table text-center stt" readonly value="1" />
                                                            <input type="hidden" name="Id" value="0" />
                                                        </td>
                                                        <td class="td-sticky">
                                                            <select name="IdhangHoa" class="form-select form-table cbHangHoa" style="position:relative;width:400px;">
                                                            </select>
                                                        </td>
                                                        <td style="width:55px;">
                                                            <input autocomplete="off" type="text" class="form-control form-table formatted-number-float"  name="SoLuongNhap" />
                                                        </td>
                                                        <td style="width:60px;">
                                                            <input autocomplete="off" type="text" class="form-control form-table" readonly name="tenDvt" tabindex="-1" />
                                                        </td>
                                                        <td style="width:80px;">
                                                            <input autocomplete="off" t type="text" class="form-control form-table formatted-number-float" value="" name="DonGiaNhap" />
                                                        </td>
                                                        <td style="width:100px;">
                                                            <input autocomplete="off" type="text" class="form-control form-table formatted-number-float"  value="" name="ThanhTien" />
                                                        </td>
                                                        <td style="width:90px;">
                                                            <input autocomplete="off" type="text" class="form-control form-table input-date-long-mask" name="NgaySanXuat" />
                                                        </td>
                                                        <td style="width:90px;">
                                                            <input autocomplete="off" type="text" class="form-control form-table input-date-long-mask" name="HanDung" />
                                                        <td style="width: 200px">
                                                            <textarea autocomplete="off" rows="1" class="form-control form-table"  name="GhiChuHangNhap"></textarea>
                                                        </td>
                                                        
                                                        <td class="text-center last-td-column pe-0" style="width:40px;">
                                                            <button type="button" class="btn btn-icon btn-sm text-red remove-phieuNhapCt">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <path d="M18 6l-12 12"></path>
                                                                    <path d="M6 6l12 12"></path>
                                                                </svg>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-2">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-1 ms-6">
                                </div>
                                <div class="col-lg-2 col-12 ms-6">
                                    <label class="form-label mb-0">Tổng tiền hàng:</label>
                                    <input type="text" autocomplete="off" class="form-control formatted-number-float" id="tongTienHang" placeholder="Tổng tiền hàng" readonly>
                                </div>
                                <div class="col-2 mb-1">
                                    <label class="form-label mb-0 text-white">.</label>
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button class="btn" id="btnXoaTrang">
                                                Xóa trắng
                                            </button>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-primary" id="btnTaoPhieuNhapKho">
                                                Lưu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-1 ms-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-dsPhieu" role="tabpanel">
                    <div class="card mb-2">
                        <div class="card-status-top bg-blue"></div>
                        <div class="card-header p-2">
                            <div class="container px-0">
                                    <div class="col-12 mb-1">
                                        <div class="row">
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3">
                                                        Từ ngày:
                                                    </label>
                                                    <div class="col-9">
                                                        <input autocomplete="off" required type="text" class="form-control input-date-default" name="TuNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3">
                                                        Đến ngày:
                                                    </label>
                                                    <div class="col-9">
                                                        <input autocomplete="off" required type="text" class="form-control input-date-default" name="DenNgay">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3">
                                                        Nơi cung cấp:
                                                    </label>
                                                    <div class="col-9">
                                                    <select class="form-select cbNhaCungCap1" Id="cbNhaCungCap1">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-lg-5 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3 col-lg-2">
                                                        Hàng hóa:
                                                    </label>
                                                    <div class="col-9 col-lg-10">
                                                    <select class="form-select cbHangHoa1" Id="cbHangHoa1">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3">
                                                        Số phiếu:
                                                    </label>
                                                    <div class="col-9">
                                                        <input type="text" autocomplete="off" class="form-control" placeholder="Số phiếu" name="SoPhieu">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-3 mb-1">
                                                <div class="row">
                                                    <label class="col-form-label col-3">
                                                        Số HĐ:
                                                    </label>
                                                    <div class="col-9">
                                                        <input type="text" autocomplete="off" class="form-control" placeholder="Số hóa đơn" name="SoHD">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-1 mb-1">
                                                <div class="row justify-content-end">
                                                    <div class="col-auto">
                                                        <button class="btn btn-icon" onclick="getDSXKNL()">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div style="display: none;" id="progress">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-indeterminate bg-blue"></div>
                                </div>
                            </div>
                            <div class="table-responsive vh-lg-53">
                                <table class="table text-nowrap table-bordered table-vcenter">
                                    <thead>
                                        <tr>
                                            <th class="text-center first-th-column w-1">STT</th>
                                            <th class="text-center col-1">Số phiếu</th>
                                            <th class="text-center col-1">Ngày</th>
                                            <th class="text-center col-3">Nơi cung cấp</th>
                                            <th class="text-center col-1">Số hoá đơn</th>
                                            <th class="text-center">Ghi chú</th>
                                            <th class="text-center col-1">
                                                Số lượng
                                            </th>
                                            <th class="text-center col-1">
                                                Tiền hàng
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBody-DsPhieu">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<script src="~/js/common.js"></script>
<script src="~/js/hh_nhapkho.js"></script>