@{
    ViewData["Title"] = "Home Page";
}

<div b-z3ok5e9bx3="" class="page-wrapper">
    <div class="d-flex justify-content-center mt-5 mb-3">
        <div class="col-10 text-center mb-2">
            <h2>BÁO CÁO ĐỒ ÁN TỐT NGHIỆP</h2>
            <h1>XÂY DỰNG PHẦN MỀM QUẢN LÝ TIÊM CHỦNG</h1>
            <img style="height: 5.5rem" src="/images/logotruong.png" width="300" height="120" alt="" class="navbar-brand-image">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cards align-items-stretch">
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="empty p-4">
                                    <div class="empty-img">
                                        <span class="bg-primary text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 20l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 0 1 8.5 5.179" /><path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" /><path d="M19 18v.01" /></svg>
                                        </span>
                                    </div>
                                    <p class="empty-title">Giảng viên hướng dẫn</p>
                                    <p class="empty-subtitle text-secondary">
                                        ThS. Cao Hữu Thanh Vũ
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="empty p-4">
                                    <div class="empty-img">
                                        <span class="bg-azure text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>
                                        </span>
                                    </div>
                                    <p class="empty-title">Thông tin sinh viên</p>
                                    <p class="empty-subtitle text-secondary">
                                        Thái Lai - 0850080027
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="empty p-4">
                                    <div class="empty-img">
                                        <span class="bg-yellow text-white avatar">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-shield" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 21v-6a2 2 0 0 1 2 -2h1.341" /><path d="M19.682 10.682l-7.682 -7.682l-9 9h2v7a2 2 0 0 0 2 2h5" /><path d="M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z" /></svg>
                                        </span>
                                    </div>
                                    <p class="empty-title">Thông tin lớp học</p>
                                    <p class="empty-subtitle text-secondary">
                                        08_ĐH_CNPM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 text-center">
            <p class="empty-title text-secondary">
                <em>Phần mềm quản lý tiêm chủng</em>
            </p>
        </div>
    </div>
    <script src="/dist/js/common.js?v=fAzsAGOpzTU-phv6tEKcxWfVj78nNCEKZNAG8Txp7Hc" defer=""></script>

</div>
