
<div class="card">
    <div class="card-body p-2">
        <div class="card mb-2">
            <div class="card-status-top bg-blue"></div>
            <div class="card-header p-1">
                <div class="container px-0">
                    <form class="row" id="formBaoCaoLichHen">
                        <div class="col-12 mb-1 mt-2">
                            <div class="row">
                                <div class="col-12 col-lg-3 mb-1">
                                    <div class="row">
                                        <label class="col-form-label col-4 col-lg-4">
                                            Từ ngày:
                                        </label>
                                        <div class="col-lg-8 col-8">
                                            <input required type="text" autocomplete="off" class="form-control input-date-default" name="TuNgay">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 mb-1">
                                    <div class="row">
                                        <label class="col-form-label col-lg-4 col-4">
                                            Đến ngày:
                                        </label>
                                        <div class="col-8 col-lg-8">
                                            <input required type="text" autocomplete="off" class="form-control input-date-default" name="DenNgay">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-1 mb-1">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <button class="btn btn-icon" type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card">
                    <div class="table-responsive vh-lg-53">
                        <table id="tableBaoCaoChiTiet" class="table text-nowrap table-bordered table-vcenter">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center col-1">Ngày hẹn</th>
                                    <th class="text-center col-2">Tên bệnh nhân</th>
                                    <th class="text-center col-1">Năm sinh</th>
                                    <th class="text-center w-1">Giới tính</th>
                                    <th class="text-center col-2">Địa chỉ</th>
                                    <th class="text-center col-1">Điện thoại</th>
                                    <th class="text-center col-1">Email</th>
                                    <th class="text-center col-1">Nghề nghiệp</th>
                                    <th class="text-center col-2">Tên Vaccine</th>
                                </tr>
                            </thead>
                            <tbody id="tBody-BaoCaoLoiNhuan">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer p-2">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button id="btnInPDFBaoCao" class="btn btn-primary" type="button">
                            Xuất PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/baocaolichhen.js" defer asp-append-version="true"></script>