@* <head>
    <title>Biểu đồ Bar Chart với nhiều dataset</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head> *@
<body>
    <div class="row mt-3 mb-3">
        <label class="col-sm-1 col-lg-1 col-form-label ms-4">Từ ngày</label>
        <div class="col-sm-2 col-lg-2 me-3">
            <input type="text" name="tuNgay" class="form-control input-date-default" placeholder="dd-MM-yyyy" id="tuNgay">
        </div>
        <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
        <div class="col-sm-2 col-lg-2">
            <input type="text" name="denNgay" class="form-control input-date-default"  placeholder="dd-MM-yyyy" id="denNgay">
        </div>
        <div class="col-12 col-lg-1 mb-1">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-icon" type="button" onclick="baoCaoChiTieu()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill p-0" id="myTab" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tabs-lapPhieu" id="tab-lapphieu" class="nav-link text-dark active" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">
                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                        Đồ thị
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-dsPhieu" class="nav-link text-dark " data-bs-toggle="tab" aria-selected="true" role="tab">
                        <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                        Dạng bảng
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body p-2">
            <div class="tab-content">
                <div class="tab-pane active show" id="tabs-lapPhieu" role="tabpanel" aria-labelledby="tab-lapphieu">
                    <div style="width: 70%; margin: auto;">
                    <canvas id="doThiThucDon"></canvas>
                    </div>
                </div>
                <div class="tab-pane " id="tabs-dsPhieu" role="tabpanel">
                    <table class="table table-bordered table-hover table-striped text-center" id="tableChiTietPhieuNhap">
                        <thead style="position: sticky; top: 0;">
                            <tr>
                                <th>STT</th>
                                <th>Tên vaccine</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyTD">
                        </tbody>
                        <tfoot class="bg-blue">
                            <tr id="tongTien">
                                <td></td>
                                <td class="text-white fw-bold">Tổng</td>
                                <td><input type="text" readonly class="form-control formatted-number" id="tongTD" value="" /></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/BaoCaoChiTieu.js" defer asp-append-version="true"></script>